.godot/
.sconsign.dblite
godot-cpp/
bin/
build/
*.os
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.gdextension.local
EOS-SDK-*.zip
third_party/eos_sdk/*
!third_party/eos_sdk/README.md
__pycache__/
.vs/
.idea/
*.bak
.DS_Store
